
// importar as cores
@import './_colors.sass'

// aumentar o tamanho da fonte no elemento que mostra o horário do atendimento
div 
  .data_hora_ultima_msg 
    color: white !important
    font: 
      weight: bold !important
      size: 1.1em !important

// definir a cor do atendimento usando um gradiente entre a cor do opa e a cor desejada
@mixin background($color) 
  background: linear-gradient(90deg, $opa 10%, $color 100%) !important

// definir as classes e as cores correspondentes
div 
  .b_selecionado 
    @include background($preto)
  .b_com_nova_mensagem 
    @include background($verde)
  .b_ignorado 
    @include background($cinza)
  .b_expirado 
    @include background($vermelho)
  .b_inativo_visualizado 
    @include background($amarelo)
  .b_inativo 
    @include background($salmao)
  .b_valido 
    @include background($azul)
